{% extends 'base.html' %}

{% block script %}
$(document).ready(function(){
  $("#searching").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table-content tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

    var suppliers = [
        {% for i in a %}
    "{{ i|title }}",
    {% endfor %}
    ];
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
    autocomplete(document.getElementById("myInput"), suppliers);
    autocomplete(document.getElementById("id_supp_name"), suppliers);

    var x = 0;
    document.getElementById('id_st').value = x;
    function btnAdd(){
        document.getElementById('id_st').value = ++x;
    }
    function btnSubtract(){
        document.getElementById('id_st').value = --x;
    }

{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
    <div class="row">
<form method="POST" class="text-center" autocomplete="off">
    {% csrf_token %}
   {{ form.product_name }}
    {{ form.stock }}
    <div class="autocomplete" style="width:300px;">
    {{ form.supp_name }}
    </div>
              <br><button type="submit" class="btn btn-success">Ruaj</button>
</form>
        </div>
        </div>
    <br>
    <h3 class="text-center">Kerko...</h3>
    <input type="search" class="form-control search-input" id="searching" placeholder="Kerko Produktin">
    <hr>
{% endblock %}
    {% block table %}
    <div class="table-responsive">
    <table class="table table-bordered table-light table-hover customers-list">
    <thead class="thead-dark">
    <tr>
        <th>Emri Produktit</th>
        <th>Sasia</th>
        <th>Emri Furnizuesit</th>
        <th>Ndrysho?</th>
        <th>Fshije?</th>
    </tr>
    </thead>
    <tbody id="table-content">
    {% for i in data %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ndrysho te dhenat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edit_storage' s_id=i.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" name="product_name" class="form-control mb-2" placeholder="Emri Produktit" required="" id="id_product" value="{{ i.product_name }}">

            <div class="autocomplete">
                <input type="text" name="supp_name" value="{{ i.supp_name }}" class="form-control mb-2" placeholder="Emri Furnizuesit" required="" id="id_supp_name"></div>

            <div class="input-group mb-2 row justify-content-center">
                <button id="add" type="button" class="btn btn-success" onclick="btnAdd()">+</button>
                <div class="col-xs-3">
    <input type="number" style="width: 80px" name="stock" class="form-control text-center" placeholder="Sasia" required="" id="id_st">
                    </div>
                    <button id="subtract" type="button" class="btn btn-danger" onclick="btnSubtract()">-</button>
                </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
        <button type="submit" class="btn btn-primary">Ruaj</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
    <tr>
        <td>{{ i.product_name }}</td>
    <td>{{ i.stock }}</td>
    <td>{{ i.supp_name }}</td>
    <td style="padding: 5px" class="justify-conent-center text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></button></td>
    <td style="padding: 5px" class="justify-conent-center text-center"><a href="{% url 'del_storage' p_id=i.id %}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>  </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>





{% endblock %}
